body{

    font-family: Arial;
    background:#0b0f1a;
    color:white;
    padding:20px;

}

.container{

    display:flex;
    gap:20px;

}

.controls{

    background:#11182b;
    padding:20px;
    border-radius:10px;
    width:300px;

}

canvas{

    background:black;
    border:1px solid white;

}

button{

    margin-top:10px;
    padding:10px;
    width:100%;
    background:cyan;
    border:none;
    cursor:pointer;

}

select,input{

    width:100%;
    margin-bottom:10px;

}

pre{

    background:black;
    padding:10px;
    margin-top:10px;

}
